<div class="container">
  <% if user_signed_in? && current_user.admin? %>
    <%= render 'layouts/admin' %>
  <% elsif user_signed_in? && !current_user.admin? %>
    <%= render 'layouts/login_user' %>
  <% else %>
    <%= link_to 'sign-up', new_user_registration_path, class: 'btn btn-default' %>
    <%= link_to 'sign-in', new_user_session_path, class: 'btn btn-default'%>
  <% end %>
</div>
