@import "bootstrap-sprockets";
@import "bootstrap";

.form-group{
  width:200px;
}

.booking-status{
  background-color: #c0c0c0;
  width: 200px;
}

.a-booking{
  margin-top: 30px;
}

.date-slot{
    width: 200px;
}

.a-booking .btn{
  margin-left: 30px;
}

//
// .date{
//   margin-top: 30px;
// }
