<%= link_to 'sign-out', destroy_user_session_path, method: :delete, class: 'btn btn-default' %>
<h1>This is the admin page</h1>
<h3><%= @today.strftime('%-d %b, %Y')  %></h3>
<% if @admin_bookings.any? %>
  <div class="admin_bookings">
    <table class="table table-bordered" align="center">
      <tbody>
        <tr style="color:#ffffff" bgcolor="#337ab7">
          <th>Slot</th>
          <th>number</th>
        <tr>
        <% @admin_bookings.each do |key, value| %>
          <td><%= Timeframe.find_by(id:key).slot %></td>
          <td><%= value %></td>
      </tbody>
        <% end %>
  </div>
<% else %>
<h2>No booking today!</h2>
<% end %>
